@page "/"

@using Microsoft.AspNetCore.Components.Forms
@using TimeSlice.WebApp.Services.Auth
@using TimeSlice.WebApp.Services.Base

@inject IAuthenticationService _authService
@inject NavigationManager _navigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="userModel" OnSubmit="@SubmitForm" FormName="usernameForm">
            <DataAnnotationsValidator />

            <div class="form-group mb-3">
                <label for="username" class="form-label">Username:</label>
                <InputText id="username" @bind-Value="userModel.Username" class="form-control" />
                <ValidationMessage For="@(() => userModel.Username)" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </div>
</div>

@code {

    [SupplyParameterFromForm]
    private UserModel userModel { get; set; } = new();

    private async Task SubmitForm()
    {
        var isSuccess = await _authService.RegisterOrLogin(userModel.Username);

        if (isSuccess)
        {
            _navigationManager.NavigateTo( "/weather" );
        }
    }

    public class UserModel
    {
        public string Username { get; set; }
    }
}